:root{
    --white-color:#fff;
    --black-color:#000;
    --text-color:#333;
    --border-color:#dbdbdb;
    --primary-color:#fe6233;
    --header-height:120px;
    --navbar-height:34px;
    --headerSearch-height:calc(var(--header-height) - var(--navbar-height))
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
html{
    font-size:62.5%;
    line-height:1.5rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.grid__full-width{
    width: 100%;
}
.grid__row{
    display: flex;
    flex-wrap:wrap;
    position: relative;
}
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes growth{
    from{
        transform: scale(var(--growth-from));
    }
    to{
        transform: scale(var(--growth-to));
    }
}

/* animation scale in header */
@keyframes animationScale {
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes opacityBtn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/* modal */
.modal__container{
    display: none;
}
.modal__container--login{
    display: none;
}
.modal{
    position: fixed;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.1s ;
  
}
.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
   
}
.modal__body{
    --growth-from:0.7;
    --growth-to:1;
    background-color:var(--white-color);
    margin: auto;
    position: relative;
    z-index: 1000;
    border-radius: 5px ;
    animation: growth linear 0.1s;

   
}
.btn{
    color: var(--text-color);
    text-decoration: none;
    min-width: 142px;
    height: 32px;  
    border: none;
    border-radius: 2px;
    font-size: 1.3rem;
    font-weight: 400;
    padding: 0;
    cursor: pointer;
    margin-left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.btn.btn--normal:hover{
    background-color: rgba(0,0,0,0.1);
}
.btn.btn--primary{
    color: var(--white-color);
    background-color:var(--primary-color);
}
.btn.btn--size-s{
    height: 32px;
}

/* open remove block */
.show{
    display: block;
}
.close{
    display: none;
}
/* main  */
.main{
    margin-top:28px;
}
.main-app{
    position: relative;
   
}
/* control category view */
.margin-left__category{
    margin-left: -240px;
    
}
.app{
    padding-top:120px;
}